/* body section */
body{
    background-color:black;
    color:white;
    font-family: "poppins", sans-serif;
}

.small-text{
    font-size: 12px;
}

.text{
    font-size: 15px;
    font-family: "poppins", serif;
    
}

/*  header section  */
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display:flex;
    align-items: center;
}

.nav-links{
    display:flex;
    gap: 20px;
    font-family: "poppins", sans-serif;
    margin-right: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.nav-links a:hover{
    color: rgb(144, 167, 60);
    transform: scale(1.2);
    transition: 0.5s;
    text-decoration: underline;
}


/* images section */
.container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 20px 0px;
    text-align: center;

}
.card img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 10px;
}
.card{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

/* location section */
.map{
display: flex;
justify-content: space-around;
padding: 20px 0px 20px 0px;

}
#location h2{
    text-align: center;
    font-family: "poppins", serif;
    padding: 20px 0px 20px 0px;
}
/* contact section */
.contacts a{
    color: white;
    text-decoration: none;
}
.contacts a:hover{
    color: rgb(144, 167, 60);
    transform: scale(1.2);
    transition: 0.5s;
    text-decoration: underline;
}
/* footer section */
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
    gap: 20px;
}
.social-media a {
    font-size: 30px;
}
.social-media a i:hover{
    color: rgb(144, 167, 60);
    transform: scale(1.2);
    transition: 0.5s;

}

#footer h3{
    text-align: center;
    margin: 0px;
    font-family: "didot", serif;
}

#footer p{
    text-align: center;
    font-size: 12px;
}

.btn{
    background-color: white;
    color: red;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* section about */
#about h1{
    text-align: center;
    font-family:"futura" , bold;
    padding: 20px 0px 20px 0px;

}
#about h2{
    text-align: center;
    font-family: "futura", bold;
    padding: 20px 0px 10px 0px;
}




